body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.site-header {
	text-align: center;
}


h1.site-title,
p.site-title {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	margin-bottom: 10px;
}



h2.add-new-post {
	  font-size: 23px;
    font-weight: 400;
    margin: 0 0 -15px 0;
    padding: 9px 0 4px;
    line-height: 29px;
}

h2.entry-title {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	margin: 10px 0 20px;
	text-align: left
}

h2.article-title {
	font-family: 'Roboto Slab', serif;
}

h1.site-title a,
p.site-title a,
h2.entry-title a {
	color: #0085ba;
	text-decoration: none;
}

a.company-name {
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
}

p {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1.5em;
	color: #666666;
}

small {
	color: #4985AD;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
}

body {
	background: #ededed;
}

.list {
	border-bottom: 1px solid #E2E2DB;
	padding: 25px 0 25px 30px;
}

.section-article {
	padding: 20px;
}

.img-article {
	width: 400px;
	height: 400px;
}


/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 736px) {
	.img-article {
		width: 100%;
		height: auto;
	}
}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 414px) {
	.img-article {
		width: 100%;
		height: auto;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 375px) {
	a.company-name {
		font-size: 18px;
	}
	.img-article {
		width: 100%;
		height: auto;
	}
}

/*Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 320px) {
	a.company-name {
		font-size: 18px;
	}
	.list {
		padding: 25px 12px;
	}
}


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #122439;
	text-decoration: none;
}

a:visited {
	color: #122439;
}

a:hover,
a:focus,
a:active {
	color: #666666;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

header#masthead,
footer.site-footer {
    background: #ededed;
    padding-bottom: 10px;
}

#page {
	background: #fff;
	margin: 6px;
}


.login-form,
.add-post {
	border: 1px #ccc solid;
	background: #ededed;
	padding: 10px;
	margin: 10px;
}
	.logged-in .add-post {
		display: block;
	}
	.hidden {
		display: none
	}
	.added {
		color: green;
		font-weight: bold;
	}

footer.site-footer {
	padding: 20px;
	text-align: center;
	color: #777;
}
footer.site-footer a {
	color: #777;
}
