<div class="container" ng-controller="HomeController">
	<div ng-repeat="company in companies" class="list">
		<a href="#/{{ company.id }}" class="company-name" ng-click="reloadPage();">
		{{ company.name | ellipses | apostrophe | quote1 | quote2 | hyphen | ampersand }}
		</a>
	</div>
</div>

<div class="container" ng-controller="HomeController">
	<div ng-repeat="company in companies2" class="list">
		<a href="#/{{ company.id }}" class="company-name" ng-click="reloadPage();">
		{{ company.name | ellipses | apostrophe | quote1 | quote2 | hyphen | ampersand }}
		</a>
	</div>
</div>

<div class="container" ng-controller="HomeController">
	<div ng-repeat="company in companies3" class="list">
		<a href="#/{{ company.id }}" class="company-name" ng-click="reloadPage();">
		{{ company.name | ellipses | apostrophe | quote1 | quote2 | hyphen | ampersand }}
		</a>
	</div>
</div>

<div class="container" ng-controller="HomeController">
	<div ng-repeat="company in companies4" class="list">
		<a href="#/{{ company.id }}" class="company-name" ng-click="reloadPage();">
		{{ company.name | ellipses | apostrophe | quote1 | quote2 | hyphen | ampersand }}
		</a>
	</div>
</div>

<div class="container" ng-controller="HomeController">
	<div ng-repeat="company in companies5" class="list">
		<a href="#/{{ company.id }}" class="company-name" ng-click="reloadPage();">
		{{ company.name | ellipses | apostrophe | quote1 | quote2 | hyphen | ampersand }}
		</a>
	</div>
</div>